{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-yellow-400">WHAT  IS STOCKWISELY ?</h1>
          <div class="h-1 w-20 bg-blue-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-neutral-50">At StockWisely, we believe that making stock predictions is as easy as ordering your favorite avocado toast. Our platform uses advanced neural networks to analyze market data and predict stock prices, so you don’t have to guess. Whether you're a seasoned investor or just starting out, we’re here to help you navigate the market with precision. No gimmicks, just smart, data-driven insights. With StockWisely, you’ll be making wise investment choices in no time.</p>

        <div class="w-full text-center mt-12">
          <h2 class="text-3xl font-semibold text-yellow-400">BUSINESS USE CASES</h2>
          <div class="h-1 w-24 bg-blue-500 rounded mx-auto mt-2"></div>
        </div>

      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/forex-trade-graph-chart-concept_53876-125167.jpg?t=st=1735498345~exp=1735501945~hmac=22b4dca37ef89496c1d623c28c854ac835d97718995de48579dfc1e548a4644b&w=1800">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Historical Stock Price Analysist</h2>
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Description:</h2>

            <p class="leading-relaxed text-base"> Investors and financial analysts can use the web app to check past stock prices for analyzing trends and market performance over time. </p>            
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Business Value:</h2>
            <p class="leading-relaxed text-base">Essential for back-testing investment strategies, identifying historical patterns, and making data-driven decisions on future investments.</p>

            </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-vector/tax-preparation-concept-illustration_114360-22906.jpg?t=st=1735498385~exp=1735501985~hmac=454f603f293c526909bb28b5045c74aee9898225e7449166d5d9f650df9f8581&w=1380
            " alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tax Filing and Accounting</h2>
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Description:</h2>

            <p class="leading-relaxed text-base"> Accountants and tax advisors can use the app to provide clients with accurate stock valuations on specific dates for calculating capital gains tax or other tax-related matters.</p>            
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Business Value:</h2>
            <p class="leading-relaxed text-base">Simplifies tax reporting and ensures precise calculations, reducing the risk of errors in tax filings related to stock transactions</p>          
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-psd/investment-banner-template-illustrated_23-2149042518.jpg?t=st=1735498428~exp=1735502028~hmac=d8ef3a04a7a76d42bc06b4d667c90b9f21038fff3be82bd475b4cb7c0667f3f1&w=2000
            " alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Research for Investment Opportunities</h2>
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Description:</h2>
            <p class="leading-relaxed text-base">Analysts and retail investors can use the app to study stock prices on historical dates, which can help identify opportunities based on past market reactions to events. </p>            
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Business Value:</h2>
            <p class="leading-relaxed text-base">Supports decision-making by giving investors access to important historical stock data, aiding in strategic investment planning.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://img.freepik.com/free-photo/man-working-with-infographics-indoors_23-2148816826.jpg?t=st=1735498474~exp=1735502074~hmac=38a6bcdd752044eb33b469b205c0ca3a883c8eec9c5c5483911484edccfb23f8&w=1800
            " alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Portfolio Performance Tracking</h2>
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Description:</h2>
            <p class="leading-relaxed text-base">Wealth managers or financial advisors can track the performance of clients' investment portfolios by checking stock prices on specific dates. </p>            
            <h2 class="tracking-widest text-blue-500 font-medium title-font">Business Value:</h2>
            <p class="leading-relaxed text-base">Helps investors and advisors assess returns, evaluate portfolio growth, and make informed decisions regarding asset reallocation. It aids in optimizing strategies, minimizing risks, and enhancing portfolio performance, driving better financial outcomes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}
